.clBtn {
  width: clamp(300px, 50%, 500px);

  border: none;
  border-radius: 5px;

  padding: 0.5rem;
  outline: none;
  box-sizing: border-box;

  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;

  background-color: var(--brand-color);
  color: white;

  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.clBtn:hover {
  background-color: var(--brand-color-hover);
  border-radius: 0;
}
