.form {
  width: clamp(300px, 50%, 720px);
  margin: 0 auto;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  gap: 20px;
  border-radius: 5px;
  padding: 20px;
  max-height: 80vh;
  overflow-y: scroll;
}
