.section {
  border-bottom: 1px solid gray;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
  padding-bottom: 15px;

  background-color: white;
}

.section_heading {
  font-size: 1.6em;
  font-weight: 500;
  margin: 0;
  color: rgb(40, 87, 207);

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.section_heading:hover {
  cursor: pointer;
}

.headingDiv {
  width: clamp(300px, 50%, 600px);
  align-self: left;
  display: flex;
  justify-content: left;
}

.expandIcon {
  font-size: 1.3em;
  margin-top: 0.3em;
  margin-left: 0.5em;
}
.expandIcon:hover {
  cursor: pointer;
}
